# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include mini12864.cfg]
[include macros.cfg]

#####################################################################
#   MCU Connection 
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5800230009504B5735313920-if00

#####################################################################
#   Printer Settings 
#####################################################################

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

#####################################################################
# 	X and Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PA14
dir_pin: PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 222
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PB8
diag_pin: PC4
run_current: 0.500
stealthchop_threshold: 999999
driver_SGTHRS: 127

[stepper_y]
step_pin: PC8
dir_pin: PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: PB0
position_endstop: 0
position_max: 230
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: PC9
diag_pin: PB0
run_current: 0.800
stealthchop_threshold: 999999

#####################################################################
# 	Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin:probe:z_virtual_endstop
position_max: 215
homing_speed: 40
position_min: -3

[tmc2209 stepper_z]
uart_pin: PD0
interpolate: False
run_current: 0.5
stealthchop_threshold: 999999

#####################################################################
# 	Probe
#####################################################################

######
#Omron Inductive Probe
###############
[probe]
pin: ^PA7
x_offset: 0
y_offset: 25
z_offset: 3.400
samples: 3
samples_result: median
sample_retract_dist: 5
samples_tolerance: 0.05
samples_tolerance_retries: 3

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PB3
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 25.875
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB11 #HE0
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA4 #TH0
control: pid
pid_kp: 31.479
pid_ki: 3.498
pid_kd: 70.827
min_temp: 0
max_temp: 250
max_extrude_only_distance: 101

[tmc2209 extruder]
uart_pin: PD1
run_current: 0.800
stealthchop_threshold: 999999

#####################################################################
#   BTT Bed
#####################################################################
[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
control: pid
pid_Kp: 59.964
pid_Ki: 1.746
pid_Kd: 514.944
min_temp: -100
max_temp: 130

#####################################################################
#   Homing and Bed Mesh
#####################################################################
#[homing_override]
#axes: z
#set_position_z: 0
#gcode:
#    G90
#    G0 Z5 F500
#    G28 X0 Y0
#    G0 X125 Y100 F9000
#    G28 Z0
#    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 7
mesh_min: 25,35.0
mesh_max: 215.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#####################################################################
#   Fan Control
#####################################################################

######
# Hot End Fan
# fan2 in mcu board, PB14 Connector
###############
[heater_fan extruder_fan]
pin: PB14
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

######
# Part Cooling Fan
# fan1 in mcu board, PB15 Connector
###############
[fan]
pin: PB15
cycle_time: .08
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
kick_start_time: .25

######
# MCU Cooling Fan
# fan0 in mcu board, PA8 Connector
###############
[fan_generic motherboard_fan]
pin: PA8

########################################
# Addtional temperature sensors
########################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor BTT_manta_E3EZ]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

########################################
# TMC2209 configuration
########################################



#[tmc2209 extruder1]
#uart_pin: PB5
#run_current: 0.800
#stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#[bltouch]
#sensor_pin: PA6
#control_pin: PA7

#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.012500, 0.221875, 0.440625, 0.687500, 0.984375, 1.309375
#*# 	  0.037500, 0.228125, 0.421875, 0.609375, 0.850000, 1.165625
#*# 	  0.040625, 0.200000, 0.340625, 0.528125, 0.787500, 1.078125
#*# 	  0.050000, 0.184375, 0.315625, 0.450000, 0.678125, 0.959375
#*# 	  0.046875, 0.137500, 0.259375, 0.412500, 0.612500, 0.825000
#*# 	  0.125000, 0.221875, 0.334375, 0.437500, 0.612500, 0.803125
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 215.0
#*# min_y = 35.0
#*# max_y = 220.0
#*#
#*# [probe]
#*# z_offset = 3.400
